.bbb{
    height: 100vh;
    width: 99.5%;
    background-image: url(./images/goran-ivos-iacpoKgpBAM-unsplash.jpg);
    background-size: cover;
    border-radius: 20px 20px;
}
.power{
    border: 2px  transparent;
    height: 20vh;
    width: 30%;
   position: relative;
   top: 40%;
   left: 35%;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    background-color: rgba(206, 205, 205, 0.582);
}
.power h1{
    font-size: 35px;
    padding: 10px;
   color: blueviolet;
}
.nnn{
    border: blue 2px transparent;
    height: 500px;
    padding: 50px;
    background-color: burlywood;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
}
img{
    float: right;
    border-radius: 20% 40%; 
    background-color: blue;   
}
.progs{
    height: 1190px;
    border: 5px  red;
    background-color: whitesmoke;
    padding: 50px;
}
.one{
    height: 250px;
    width: 290px;
    border: brown 5px ;
    padding: 50px;
    background-color: rgb(124, 111, 94);
    border-radius: 40% 50%;
    margin-top: 70px 80px; 
}
.two{
    height: 250px;
    width: 290px;
    border: brown 5px ;
    padding: 50px;
    background-color: rgb(124, 111, 94);
    border-radius: 30% 80%;
    margin-top: 70px 80px; 
    float: right;
}         
.three{
    height: 250px;
    width: 290px;
    border: brown 5px ;
    padding: 50px;
    background-color: rgb(124, 111, 94);
    border-radius: 40% 60%;
    margin-top: 70px 80px; 
}
.four{
    height: 250px;
    width: 290px;
    border: brown 5px ;
    padding: 50px;
    background-color: rgb(124, 111, 94);
    border-radius: 30% 80%;
    margin-top: 70px 80px; 
    float: right;
}
.five{
    height: 250px;
    width: 290px;
    border: brown 5px ;
    padding: 50px;
    background-color: rgb(124, 111, 94);
    border-radius: 40% 60%;
    margin-top: 70px 80px; 
}
.back{
    border: 2px solid red;
    margin: 10px;
    height: 500px;
}
.back{
    background-color: rgb(72, 100, 97);
    height: 800px;
}
.six{
    height: 250px;
    width: 290px;
    border: brown 5px ;
    padding: 50px;
    background-color: rgb(139, 113, 79);
    border-radius: 100% 100%;
    margin-top: 30px;  
}
.seven{
    height: 250px;
    width: 290px;
    border: brown 5px ;
    padding: 50px;
    background-color: rgb(139, 113, 79);
    margin-top: 30px; 
}
